:root {
    --accentColor: #5e4e72;
    --primaryColor: #ffff2d;
    --backgroundColor: #ffffff;
    --backgroundColorNav: #ffffff;
    --fontColor: #030030;
    --sectionColor: #6b69e4;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    font-family: 'Inter';
    color: var(--fontColor);
    display: flex;
    flex-direction: row;
}

/* --------------------- NAV PART OF THE SITE --------------------- */

nav {
    float: left;
    position: fixed;
    width: 15vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--backgroundColorNav);
}

nav #logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

nav ul {
    padding: 15vw 1vw 10vh 1vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
}

.sectionLinkButton a {
    color: var(--fontColor);
    font-size: larger;
    transition: all 100ms ease 0ms;
}

.containerNav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    transition: all 100ms ease 0ms;
    border-radius: 4px;
    padding: 0.5vw;
}

.containerNav:hover {
    background-color: var(--primaryColor);
}

.containerNav:hover a {
    color: var(--accentColor);
}

/* --------------------- MAIN PART OF THE SITE --------------------- */

main {
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    width: 85vw;
    background-color: var(--backgroundColor);
}

h1 {
    margin: 0;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
    font-size: 2em;
    font-size: 7.5vw;
    font-family: 'Rampart One';
    color: var(--accentColor);
}

h2 {
    font-size: 3.5vw;
    color: var(--sectionColor);
    border-bottom: 3px solid var(--sectionColor);
}

section {
    margin-top: 25px;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2.5%;
}

section img {
    width: auto;
    max-width: 97.5%;
    height: auto;
}

section p {
    max-width: 95%;
}

.owl-stage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-dots {
    display: none;
}

#Map {
    height: 50vh;
    width: 95%;
    border-radius: 4px;
}

footer {
    background-color: #555;
    color: #fff;
    text-align: center;
}

/* --------------------- MEDIA QUERY WHEN WEBSITE LOADED ON SMALL SCREEN --------------------- */

@media screen and (max-width: 1000px) {
    nav {
        display: none;
    }

    main {
        margin-left: 0;
        width: 100%;
        height: 15vh;
    }
}